<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Libaas</title>
	<meta charset="UTF-8">
	<meta name="description" content="The Plaza eCommerce Template">
	<meta name="keywords" content="plaza, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="img/logo.jpg" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css"/>
	<link rel="stylesheet" href="stylesheets/owl.carousel.css"/>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<link rel="stylesheet" href="stylesheets/animate.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	
	
	<!-- Header section -->
	<header class="header-section header-normal">
		<div class="container-fluid">
			<!-- logo -->
			<div class="site-logo">
				<img src="img/logo2.png" alt="logo">
            </div>
            <a href="index"><span style="color:indigo">Home</span></a> 
				
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<div class="header-right">
				
			</div>
			<!-- site menu -->
			
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page Info -->
	<br>
<!-- 
	Thanks for shopping -->








<div class="abc">
<center>	<h1 style="padding-top: 250px;"> Thank You For Shopping </h1></center>
</div>


















	<!-- footer start -->
	<section class="footer-top-section home-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-8 col-sm-12">
						<div class="footer-widget about-widget">
							<img src="img/logol.png" class="footer-logo" alt="">
							
							<p>Build on December 2018 <br>We deals with new and quality products of market with in the cheapest rate.<br>Freely to access all item</p>
							
							<div class="cards">
								<img src="img/cards/5.png" alt="">
								<img src="img/cards/4.png" alt="">
								<img src="img/cards/3.png" alt="">
								<img src="img/cards/2.png" alt="">
								<img src="img/cards/1.png" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="footer-widget">
							<h6 class="fw-title">Useful Links</h6>
							<ul>
								<li><a href="file:///J:/Web%20Templates/theplaza/privacy">Privacy Policy</a></li>
							
								<li><a href="file:///J:/Web%20Templates/theplaza/Term">Terms of Use</a></li>
								
							</ul>
						</div>
					</div>
					
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="footer-widget">
							<h6 class="fw-title">Shipping & returns</h6>
							<ul>
								
								<li><a href="file:///J:/Web%20Templates/theplaza/return">Returns</a></li>
							
								<li><a href="file:///J:/Web%20Templates/theplaza/shipping">Shipping</a></li>
						
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-lg-4 col-lg-2">
						<div class="footer-widget">
								<form action="action_page.php">
										<div class="container">
										  <h4>Subscribe to our Newsletter</h4>
										</div>
									  
										<div class="container">
										  <input type="text" placeholder="Name" name="name" required>
										  <input type="text" placeholder="Email Address" name="mail" required>
										 
										</div>
									  
										<div class="container">
										  <input type="submit" value="Subscribe">
										</div>
									  </form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Footer top section end -->	
		
			<!-- Footer section -->
		<footer class="footer-section">
			<div class="container">
				<p class="copyright">
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> 
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>
			</div>
		</footer>
		<!-- Footer section end -->
		
		
		<!--====== Javascripts & Jquery ======-->
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/mixitup.min.js"></script>
		<script src="js/sly.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/main.js"></script>
		</body>
		</html>